{include file="data_kepeg/potongan/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Data Kepegawaian</a><span></span>
        <a href="#">Payroll</a><span></span>
        <small>Pendapatan Lain</small>
    </p>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('data_kepeg/pendapatan_lain/edit_payroll_process')}" method="post">
    <input name="FS_KD_PAYROLL" type="hidden" value="{$results.FS_KD_PAYROLL}" />
   
    <table class="table-info" width="100%">
        <tr class="headrow">
            <th colspan="4">Slip Payroll</th>
        </tr>
        <tr>
            <td width='15%'>Nama</td>
            <td width='35%'>{$results.FS_NM_PEG}</td>
            <td width='15%'>NIP</td>
            <td width='35%'>{$results.FS_KD_PEG|default:''}</td>
        </tr>
        <tr>
            <td>Bagian</td>
            <td>{$result.FS_NM_BAGIAN}</td>
            <td>Pangkat / Golongan</td>
            <td>{$result.FS_KD_GOLONGAN}</td>
        </tr>
        <tr>
            <td>Masa Kerja</td>
            <td>{$results.MaKer} Tahun</td>
            <td>No Bank</td>
            <td>{$result.FS_REK_BANK}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table class="table-input" width="100%">
      <tr class="headrow">
          <th colspan="4">Data Pendapatan</th>
      </tr>
      <tr>
          <td>PENDAPATAN LAIN	</td>
          <td><input name="FN_TUNJ_RAPELKE" value="{$results.FN_TUNJ_RAPELKE}" type="number"/>
            Keterangan <input name="FS_RAPELKE_KET" value="{$results.FS_RAPELKE_KET}" type="text" /></td>  
          </td>
      </tr>
      <tr class="submit-box">
        <td colspan="4">
            <input type="submit" name="save" value="Simpan" class="edit-button" /> 
        </td>
    </tr>
    </table>

    
</form>