{include file="data_kepeg/potongan/add_script_js.html"}
<div class="breadcrum">
    <p>
        <a href="#">Data Kepegawaian</a><span></span>
        <a href="#">Payroll</a><span></span>
        <small>Pendapatan Lain</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('data_kepeg/pendapatan_lain/proses_cari')}" method="post">
        <table class="table-search" width="100%">
            <tr>
                <th width="5%">Unit</th>
                <th width="15%">
                    <select name="FS_KD_BAGIAN" id="surat_dari" class="select2" style="width: 250px;">
                        <option value="">--Pilih Data--</option>
                        {foreach from=$rs_unit item=data}
                        <option value="{$data.FS_KD_BAGIAN}" {if $search.FS_KD_BAGIAN eq $data.FS_KD_BAGIAN} selected=""{/if}>{$data.FS_NM_BAGIAN}</option>
                        {/foreach}
                    </select>

                </th>
                <th width="5%">Bulan</th>
                <th width="8%">
                    <select name="bulan">
                        {foreach from=$rs_bulan key=i item=bulan}
                        <option value="{$i}" {if $search.bulan|default:'' eq $i}selected="selected"{/if}>{$bulan}</option>
                        {/foreach}
                    </select>
                </th>
                <th width="5%">Tahun</th>
                <th width="8%">
                    <select name="tahun">
                        {foreach from=$rs_tahun item=tahun}
                        <option value="{$tahun}" {if $search.tahun|default:'' eq $tahun}selected="selected"{/if}>{$tahun}</option>
                        {/foreach}
                    </select>
                </th>
                <th style="text-align: left;">

                    <input name="save" type="submit" value="Tampilkan" />
                    <input name="save" type="submit" value="Reset" />
                </th>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
        <div class="pageRow">
            <div class="pageNav">
                <ul>
                    <li class="info"></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table width="100%" class="table-view">
    <tr>
        <th>No</th>
        <th>NIK</th>
        <th>Nama</th>
        <th>Gaji</th>
        <th width='17%'></th>
    </tr>
    {foreach from=$rs_peg item=result}
    <tr>
        <td>{$no++}</td>
        <td>{$result.FS_KD_PEG}</td>
        <td>{$result.FS_NM_PEG}</td>
        <td><center>{$result.TOTAL|number_format:0:",":"."}</center></td>
        <td>
            {if $result.TOTAL != ''}
            <a href="{$config->site_url('data_kepeg/pendapatan_lain/edit/'|cat:$result.FS_KD_PAYROLL|default:''|cat:'/'|cat:$result.FS_KD_PEG)}"  class="button-edit">Input Pendapatan</a>
            {else}
            <a href="{$config->site_url('data_kepeg/pendapatan_lain/add/'|cat:$result.FS_KD_PEG|default:'')}"  class="button-edit">Add</a>
            {/if}
           
        </td>

</tr>
{/foreach}
</table>