<div class="scroll">
    <table class="table-view" width="100%">
        <tr>
            <th width="3%">No</th>
            <th>Nama</th>
            <th width="15%"></th>
        </tr>
        {foreach from=$rs_att item=result}
        <tr {if ($no % 2) <> 1}class="blink-row"{/if}>
            <td align="center">{$no++}.</td>
            <td>
                {$result.FS_NM_FILE_PEG_KET}
            </td>
            <td align="center">
                <a href="{$BASEURL}resource/doc/sk/{$result.FS_NM_FILE_PEG}" target="_blank" class="button-download">Download</a>
                <a href="{$config->site_url('umum/data_keluarga/delete_process/'|cat:$result.FS_KD_FILE_PEG|cat:'/'|cat:$result.FS_KD_PEG|cat:'/'|cat:$result.FS_NM_FILE_PEG)}" onclick="return confirm('Are you sure you want to delete this item?');" class="button-hapus">Hapus</a>
            </td>
        </tr>
        {foreachelse}
        <tr>
            <td colspan="6">Data not found!</td>
        </tr>
        {/foreach}
    </table>
</div>